{% extends 'base.html.twig' %}

{% block title %}Meet2Meet, welcome!{% endblock %}

{% block body %}
  <div class="card">
    <div class="page-header">
      <h1>Hello and welcome to Meet2Meet!</h1>
      <h5>The place where you can meet new friends around the globe. (Yes it's a globe) Maybe it's also the place where
        you learn a new language or get to know a new culture. Maybe you would like to travel, you might just run into your new
        travel buddy here. Enjoy!</h5>
    </div>
  </div>
{% endblock %}
